// bower:scss
// endbower

$trimet-blue: #084c8d;
$trimet-black: #2e2d2a;
$trimet-orange: #f54c00;
$trimet-white: #fdfdfd;


body {
  color: $trimet-black;
}

.angular-leaflet-map {
  height: 480px;
}

.tabs,
.bar-header,
.bar-footer {
  color: $trimet-white;
  background-color: $trimet-blue;
}

.bar {
  .title {
    color: $trimet-white;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

.logo {
  width: 100%;
  margin: 25px 0;
}

.lead-text {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
}

.button {
  &.button-positive {
    background-color: $trimet-blue;
  }
}

.scroll-content {
  bottom: 50px;
}

.list {
  & .item {
    &.item-accordion {
      line-height: 38px;
      padding-top: 0;
      padding-bottom: 0;
      transition: 0.09s all linear;
      & .item-content{
        background: #efefef;
      }
      &.ng-hide {
        line-height: 0px;
      }
      &.ng-hide-add,
      &.ng-hide-remove {
        display: block !important;
      }
    }
  }
}
