<ion-content>

  <div class="row">
    <div class="col col-50 col-offset-25">
      <img class="logo" src="images/trimetpdx-logo.png" alt="">
    </div>
  </div>

  <div class="row padding-vertical">
    <div class="col col-100">
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="stopId" name="stopId" placeholder="Stop ID" autofocus>
          </label>
          <button class="button button-small button-positive" ng-click="getStopInfo(stopId)">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-vertical">
    <div class="col col-100">
      <p ng-hide="location">
        <span class="lead-text">Welcome to Trimet PDX,</span>
        if you know your desired stop ID, just type it in above and hit the search. If you're unsure what the stop ID is, try using the Map or List.
      </p>

      <div class="stop-info" ng-show="location">
        <h4>Stop Information:</h4>
        <p>{{ location.desc }}</p>
        <p>{{ location.dir }}</p>

        <h4>Next Arrivals:</h4>
        <ul>
          <li ng-repeat="info in arrivals">
            <p>{{ info.fullSign }}</p>
            <p>{{ msToMins(info.estimated - timeNow) }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</ion-content>
