<ion-content>
  <ion-list>
    <div ng-repeat="dir in directions">
      <ion-item class="item-stable"
                ng-click="toggleDirection(dir)"
                ng-class="{active: isDirectionShown(dir)}">
        {{ dir.desc }}
      </ion-item>
      <ion-item class="item-accordion"
                ui-sref="details({locId: {{stop.locid}}})"
                ng-repeat="stop in dir.stop"
                ng-show="isDirectionShown(dir)">
        {{ stop.desc }}
      </ion-item>
    </div>
  </ion-list>

</ion-content>
